name: Python Package Release

on:
  release:
    types: [created]  # Trigger only when a release is created

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: "3.x"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Build wheel and source tarball
      run: |
        python setup.py sdist bdist_wheel

    - name: Set file permissions for distribution files
      run: |
        chmod 644 dist/*.whl dist/*.tar.gz

    - name: Upload distribution files to release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
      with:
        files: |
          dist/*.whl
          dist/*.tar.gz
